NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_APP_NAME="Mindful AI Sandbox"
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_COGNITO_USER_POOL_ID=
NEXT_PUBLIC_COGNITO_CLIENT_ID=
NEXT_PUBLIC_COGNITO_DOMAIN=
NEXT_PUBLIC_COGNITO_REGION=us-west-2
NEXT_PUBLIC_ENVIRONMENT=development
